/*add font styles*/
.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal__container {
  max-width: 730px;

  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: white;

  /*add icon*/
}
.modal__close-btn:hover {
  cursor: pointer;
  opacity: 40%;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;

  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  line-height: 100%;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 52px;
  border: 1px solid #21212166;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  /* border,padding*/
}
.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  background-color: black;
  color: white;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
.modal__submit-btn:hover {
  cursor: pointer;

  transition: background-color 0.15s ease, opacity 0.15s ease;
  background-color: #212121;
}

@media screen and (max-width: 627px) {
  .modal__close-btn {
    top: 16px;
    right: 12px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 52px;
    font-size: 16px;
  }
}
