@import url(../normalize.css);

.page {
  background-color: #fcf5e5;
}
@font-face {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-style: normal;
  /* Replace with the appropriate font weight */
  font-weight: 400;
  /* Replace with the correct file path */
  src: url("./fonts/Poppins-Regular.ttf") format("truetype");
}
