.profile {
  display: flex;
  padding: 34px 0 20px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.4);
  align-items: flex-start;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-weight: 500;
}
.profile__avatar {
  margin: 0 20px 0 0;
  height: 190px;
  width: 190px;
  border-radius: 8px;
}
.profile__column {
  display: flex;
  flex-direction: column;
  height: 190px;
  justify-content: flex-start;
}

.profile__name {
  margin: 0 0 12px;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}
.profile__description {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
  color: #212121b2;
}
.profile__edit-btn {
  margin-top: auto;
  background-color: #fcf5e5;
  color: #212121;
  border: none;
  font-size: 16px;
  font-weight: 500;
  align-self: flex-start;
  gap: 8px;
  cursor: pointer;
  display: flex;
  padding: 0;
  opacity: 0.7;
}
.profile__edit-btn:hover {
  opacity: 100%;
}
.profile__add-btn {
  margin-left: auto;
  background-color: #212121;
  color: #fcf5e5;
  border-radius: 8px;
  width: 157px;
  height: 52px;
  align-self: flex-end;
  cursor: pointer;
  border: none;
  display: flex;
  gap: 8px;
  justify-content: center;
  align-items: center;
}
.profile__add-btn:hover {
  opacity: 0.8;
}

@media screen and (max-width: 627px) {
  .profile {
    flex-direction: column;
    max-width: 288px;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  .profile__avatar {
    margin-right: 0;
    height: 80px;
    margin-bottom: 12px;
    width: 80px;
  }
  .profile__add-btn {
    margin: 0;
    align-self: center;
    width: 288px;
  }
  .profile__name {
    font-size: 20px;
    margin: 0 0 6px;
    max-width: 288px;
  }
  .profile__column {
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
  }
  .profile__description {
    margin: 0 0 20px;
    max-width: 288px;
  }
  .profile__edit-btn {
    margin: 12px auto 0;
  }
}
