.card {
  max-width: 413px;
  position: relative;
}
.card__image {
  height: 413px;
  width: 413px;
  object-fit: cover;
  display: block;
  border-radius: 8px;
  cursor: pointer;
}
.card__title {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 500;
  font-size: 20px;
  color: #212121;
  margin: 0;
  line-height: 100%;
}
.card__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 20px 0 0;
  max-width: 413px;
}
.card__like-button {
  background-image: url(../images/LikeIcon-black.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  opacity: 0.4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.card__like-button:hover {
  opacity: 1;
}

.card__like-button_active {
  background-image: url(../images/like-active.svg);
  opacity: 1;
}
.card__like-button_active:hover {
  opacity: 0.4;
}

.card__button-delete {
  background-image: url(../images/delete.svg);
  width: 32px;
  height: 32px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
}

.card__button-delete:hover {
  background-image: url(../images/delete-hover.svg);
  background-color: transparent;
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .card {
    max-width: 288px;
    margin: 0 auto;
  }
  .card__image {
    width: 288px;
    height: 288px;
  }
  .card__content {
    margin: 10px 0 0;
  }
  .card__title {
    font-size: 16px;
  }
}
