/*add font styles*/
.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  padding: 0 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
}
.modal_is-opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}
.modal__container {
  max-width: 730px;

  width: 100%;
  border-radius: 8px;
  background-color: white;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__image-container {
  position: relative;
  transform: scale(0.95);
  transition: opacity 0.25s ease, transform 0.25s ease;
}
/*added some transitions for opening preview*/
.modal_is-opened .modal__image-container {
  opacity: 1;
  transform: scale(1);
}
.modal__image {
  width: 100%;
  max-height: 80vh;
  max-width: 80vw;
  object-fit: contain;
  display: block;
  background: none;
  border-radius: 8px;
}
.modal__caption {
  color: white;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  font-size: 20px;

  bottom: 12px;
  left: 12px;
  margin: 0;
  position: absolute;
  border-radius: 8px;

  margin-top: 8px;
  background-color: #212121;
  padding: 4px 8px;

  display: inline-block;
  width: auto;
  max-width: 100%;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
  /* new styles added here sprint 5*/
  transition: 0.3s;
  opacity: 0.4;
  background-size: 35px 35px;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal__close-btn_preview {
  top: 0;
  right: -52.5px;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 0.4;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
  font-size: 32px;

  color: #212121;
}
.modal__form {
  display: flex;
  flex-direction: column;
}
.modal__label {
  margin: 0 0 32px;
  color: #212121b2;
  font-weight: 500;
  font-size: 16px;
  display: block;
}
.modal__input {
  display: block;
  margin: 8px 0 0;
  line-height: 100%;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  height: 52px;
  border: 1px solid #21212166;
  font-size: 20px;
  font-weight: 500;
  box-sizing: border-box;
  /* border,padding*/
}

.modal__input_type_error {
  border: 1px solid red;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__error {
  /* add styles*/
  display: block;
  color: red;
  margin-top: 8px;
}
.modal__submit-btn {
  background-color: black;
  color: white;
  width: 156px;
  height: 52px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
}
.modal__submit-btn:hover {
  cursor: pointer;
  transition: background-color 0.15s ease, opacity 0.15s ease;
  background-color: #212121;
}

.modal__button_disabled {
  color: #212121;
  opacity: 0.5;
}

@media screen and (max-width: 480px) {
  .modal__close-btn {
    top: 16px;
    right: 12px;
  }

  .modal__container {
    padding: 22px 12px 12px;
  }
  .modal__title {
    font-size: 20px;
  }
  .modal__input {
    font-size: 16px;
  }

  .modal__submit-btn {
    width: 100%;
    height: 52px;
    font-size: 16px;
  }
}
@media screen and (max-width: 627px) {
  .modal__close-btn_preview {
    top: -48px;
    right: 0px;
    max-width: unset;
  }

  .modal_preview {
    padding: 0 16px;
  }
}
